body{
	font-family: 'Libre Franklin', sans-serif;
	margin-top: 50px;
}

.navbar {
	background-color: #A32638; 
	
	text-decoration-color: #ffffff;
	-webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.dropdown-toggle::after {
    display:none;
}

h3{
	font-size:16;
}

.navbar-brand{
	font-weight: 700;
}

.sgalogo {
    position: fixed;
    top: 10px;
    left: 10px;
   	
    z-index: 10000;
    -webkit-filter: drop-shadow(0px 5px 5px #999);
  	filter: drop-shadow(0px 5px 5px #999);
}

.sgatitle {
	position: fixed;
	text-transform: uppercase;
	font-weight: 700;
    top: 17px;
    left: 170px;
   	color: #fff;
    z-index: 10000;
}